<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
  </head>
  <body data-bs-theme="dark">
    {{{body}}}
  </body>
</html>
